#top .heading{
  background-color:rgb(68,148,155);
}

#top .heading h2{
   color: rgb(239,195,175);
   letter-spacing: 0.3;
}

#about {
  background-color: rgb(61,17,102);
  color: rgb(236,239,34);
}
