<footer class="py-4 bg-dark text-light">
<div class="container text-center">
    <ul class="nav justify-content-center mb-3 ">
        <li class="nav-item">
            <a class="nav-link  text-white" href="top.html">Top</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="login.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="signup.html">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="contact.html">Contact</a>
        </li>
    </ul>
    <p> <small> &copy;: 2020 Tips </small></p>
</div>
</footer>